.issue-tile {
  height: 5rem;
  display: flex;
  border-bottom: 1px solid black;
  padding: 1rem;
}
.user-avatar {
  height: 3rem;
}
.issue-number {
  color: grey;
}
.issue-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
}
.user-info {
  width: 10%;
}
.user-issue {
  width: 80%;
}
.issue-title {
  padding-bottom: 0.5rem;
}
.heading {
  text-align: center;
}

.loader {
  border: 1rem solid white;
  border-top: 1rem solid grey;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 3s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.buttons {
    text-align: center;
}
button{
    padding: .5rem;
    font-size :1.5rem;
    background-color: rgb(32, 181, 231);
    border: 1px solid black;
    border-radius: .5rem;
    margin:2rem;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

a{
    color: black;
}

@media (max-width:400px) {
    .issue-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;      
        padding-bottom: 0.5rem;
      }
    .issue-tile{
        justify-content: space-between;
    }
}